[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "ombudsman-backend"
version = "1.0.0"
requires-python = ">=3.9"
dependencies = [
    "fastapi",
    "uvicorn",
    "sqlalchemy",
    "pydantic",
    "python-multipart"
]
